@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
// COLOR 
$yellow-dark: #FECF14;
$yellow-light:#FFF106;
$white:#ffffff;
$primery-light:#7d7e7f;
$primery-dark:#464749;
// FONT SIZE 
$desc-font: 16px;
//RESET
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//FONT-FACE
@font-face {
    font-family: 'IRANSans';
    src: url('/fonts/IRANSans-web.eot');
    src: url('IRANSans-web.eot?#iefix') format('eot'), /* IE6–8 */
    url('/fonts/IRANSans-web.woff2') format('woff2'), /* Chrome36+, Opera24+*/
    url('/fonts/IRANSans-web.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/IRANSans-web.ttf') format('ttf');
    font-weight: normal;
}

//MAIN
body {
    background: $white;
    direction: rtl;
    font-family: 'IRANSans';
}

.wrapper {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    &__title {
        font-size: 26px;
        text-align: center;
        margin: 10px 0 0 0;
        color: $primery-dark;
    }
    &__subtitle {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
        color: $primery-dark;
    }
}

.cont {
    max-width: 1200px;
    padding: 1.5em;
    margin: 0 auto;
    overflow: hidden;
}