@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
// COLOR 
$yellow-dark: #FECF14;
$yellow-light:#FFF106;
$white:#ffffff;
$primery-light:#7d7e7f;
$primery-dark:#464749;
// FONT SIZE 
$desc-font: 16px;
//RESET
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//FONT-FACE
@font-face {
    font-family: 'IRANSans';
    src: url('/fonts/IRANSans-web.eot');
    src: url('IRANSans-web.eot?#iefix') format('eot'), /* IE6–8 */
    url('/fonts/IRANSans-web.woff2') format('woff2'), /* Chrome36+, Opera24+*/
    url('/fonts/IRANSans-web.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/IRANSans-web.ttf') format('ttf');
    font-weight: normal;
}

//MAIN
body {
    background: $white;
    direction: rtl;
    font-family: 'IRANSans';
}

.wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
}

.wrapper__title {
    font-size: 26px;
    text-align: center;
    margin: 10px 0 0 0;
    color: $primery-dark;
}

.wrapper__title-yellow {
    font-size: 24px;
    text-align: center;
    margin: 10px 0 0 0;
    color: $yellow-light;
}

.wrapper__title-white {
    font-size: 24px;
    text-align: center;
    margin: 10px 0 0 0;
    color: #fff;
}

.wrapper__subtitle {
    font-size: 30px;
    text-align: center;
    margin: 20px 0 0 0;
    color: #fff;
}

.wrapper__subtitle-code {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 0 0;
    color: $primery-light;
}

.cont {
    max-width: 1200px;
    padding: 1.5em;
    margin: 0 auto;
    overflow: hidden;
}