@import 'base';
.header-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('/images/beekeepers.jpg');
    background-size: cover;
    overflow: hidden;
    padding: 40px 60px 0;
    color: #fff;
    position: relative;
}


/* MENU STYLE */

.top-navbar {
    display: none;
}

.menu {
    flex: 1;
    display: inline;
}

.menu__item {
    list-style: none;
    display: inline-block;
    padding: 6px 20px;
    &:first-child {
        padding-right: 0;
    }
    &::after {
        content: '';
        width: 0;
        height: 2px;
        background: $yellow-light;
        display: block;
        margin: auto;
        transition: .5s;
    }
    &:hover::after {
        width: 100%;
    }
}

.menu__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


/*  HEADER CONTENT STYLE */

.header-text {
    margin-top: 80px;
    margin-bottom: 70px;
}

.header-text__title {
    font-size: 45px;
    margin-bottom: 10px;
    color: $yellow-light;
}

.header-text__subtitle {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

.header-text__desc {
    font-size: 14px;
    line-height: 1.5rem;
    margin-bottom: 40px;
    margin-top: 20px;
    max-width: 530px;
    border-right: 5px solid $yellow-light;
    padding-right: 20px;
}


/* SEARCH FORM STYLE */

.search-form {
    padding-bottom: 60px;
}

.search-form__input {
    width: 100%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 15px 18px;
    border-radius: 5px;
}

.search-form__button {
    width: 100%;
    background: $yellow-light;
    color: #414141;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 15px 18px;
    border-radius: 5px;
    margin: 10px 0;
}


/* VIDEO HEADER STYLE */

.header-video {
    display: none;
}


/* WORK SECTION */

.work-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    margin: 10px 0;
    &:hover {
        box-shadow: 0 6px 10px 0 rgba(97, 97, 97, 0.5);
        border: 0;
    }
}

.work-card__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.work-card__desc {
    font-size: $desc-font;
    font-size: 16px;
}

.work-card__number {
    background: $yellow-dark;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    line-height: 1.6em;
    margin-left: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    &:hover {
        color: $desc-font;
    }
}


/* COSTUMER SERVICE */

.costumer-service {
    flex: 1;
    display: flex;
    justify-content: center;
    box-shadow: -1px -1px 5px 0px rgb(182, 182, 182);
    // box-shadow: var(--shadow-1);
    border-radius: 10px;
    padding: 30px 20px;
    margin: 20px;
}

.costumer-service__item {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
}

.costumer-service__img {
    width: 75px;
    height: 75px;
}

.costumer-service__title {
    color: $primery-dark;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

.costumer-service__desc {
    color: $desc-font;
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
}


/* ABOUT US */

.about-wrapper {
    color: $white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('/images/beekeepers.jpg');
    background-size: cover;
    overflow: hidden;
    text-align: center;
    padding-top: 1.5em;
    margin-top: 120px;
}

.about-us {
    padding: 4rem 0;
}

.about-us__item {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    border-right: 0
}

.about-us__image {
    width: 60px;
    height: 60px;
}

.about-us__title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    span {
        font-size: 18px;
        font-weight: normal;
    }
}

.about-us__subtilte {
    font-size: 18px;
}


/* OUR SERVICE */

srvice-wrapper {
    margin-top: 40px;
}

.our-service__item {
    // background-color: #eaeafe;
    margin: 10px 0px;
    list-style: none;
    display: inline-block;
}

.our-service__card {
    background-color: #eaeafe;
    // margin: 10px 0px;
    padding: 15px;
}

.our-service__image {
    height: 120px;
    display: flex;
    justify-content: center;
}

.our-service__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.our-service__desc {
    font-size: 14px;
    line-height: 1.2rem;
    color: $desc-font;
}


/* BEEKEEPER */

.beekeeper-wrapper {
    margin-top: 70px;
}

.our-beekeeper {
    margin: 40px 0;
}

.beekeeper-card {
    background-color: #fff;
    text-align: left;
    box-shadow: -1px -1px 5px 0px rgb(182, 182, 182);
    padding: 12px !important;
    border-radius: 10px !important;
}

.beekeeper-card__image-box {
    position: relative;
    /*   transition: transform 0.3s ease-in-out; */
    margin-top: -32px;
}

.beekeeper-card__image {
    vertical-align: middle;
    max-width: 100%;
    border-radius: 10px !important;
}

.beekeeper-card__name {
    font-size: 16px;
    margin: 15px 0;
    text-align: right;
}

.beekeeper-cardــicon {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $yellow-dark;
    border-radius: 100%;
    bottom: 0;
    transform: translateY(50%);
    left: 20px;
}

.beekeeper-card__desc {
    font-size: 14px;
    color: $desc-font;
    text-align: right;
    margin-bottom: 10px;
}

.beekeeper-card__readmore {
    text-decoration: underline;
    padding: 12px;
    display: inline-block;
    color: #1094F3;
    font-weight: bold;
    cursor: pointer;
}


/* CONTACT US */

.contact-us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 15px 20px;
    color: #fff;
    margin-top: 60px;
    position: relative;
    z-index: 1;
}

.contact-us__title {
    font-size: 35px;
    margin-bottom: 15px;
}

.contact-us__subtitle {
    font-size: 16px;
    padding-bottom: 80px;
}

.icon {
    flex: 1;
    display: inline;
}

.icon__item {
    list-style: none;
    display: inline-block;
    padding: 10px 0;
    margin-left: 15px;
}

.icon__img {
    width: 30px;
    vertical-align: middle;
}

.icon__img-gray {
    width: 25px;
    vertical-align: middle;
}


/* CONTACT-FORM */

.contact-form {
    box-shadow: -1px -1px 5px 0px rgb(182, 182, 182);
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
    z-index: 10;
    background-color: #fff;
    color: $desc-font;
}

.contact-form__header {
    display: flex;
    padding: 40px 30px;
    border-bottom: 1px solid #C6C6C6;
}

.contact-form__header-text {
    font-size: 14px;
}

.contact-form__header-icon {
    flex-basis: 15%;
    margin-left: 15px;
}

.contact-form__body {
    padding: 20px;
    padding-bottom: 70px;
}

.contact-form__input {
    margin-top: 30px;
}

.contact-form__input input,
.contact-form__input textarea {
    width: 100%;
    padding: 15px 20px;
    border: none 0;
    background-color: #fafafc;
    border-radius: 5px;
    color: #343333;
    font-size: 14px;
}

.contact-form__submit {
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border: none 0;
    outline: 0;
    margin-top: 30px;
    background-color: $yellow-dark;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}


/* BLOG */

.blog {
    margin: 20px 0;
}

.post-card {
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    box-shadow: -1px -1px 5px 0px rgb(182, 182, 182);
    border-radius: 10px !important;
}

.post-card__image-box {
    position: relative;
}

.post-card__image {
    vertical-align: middle;
    max-width: 100%;
    border-radius: 10px 10px 0 !important;
}

.post-card__category {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: $yellow-dark;
    bottom: 0;
    left: 0;
    color: $white;
    font-size: 14px;
    text-align: center;
}

.post-content {
    padding: 15px;
}

.post-content__date {
    font-size: 12px;
    text-align: right;
}

.post-content__desc {
    font-size: 14px;
    color: $desc-font;
    text-align: right;
    margin: 5px 0;
}

.post-content__readmore {
    text-decoration: none;
    display: inline-block;
    color: #1094F3;
    font-weight: bold;
}

.blog-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-btn__content {
    display: inline-block;
    padding: 10px 100px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: $yellow-dark;
    border-radius: 30px;
    margin: 50px 0;
}


/* CODE */

.code-wrapper {
    background-color: #1e2022;
    text-align: center;
    padding: 10px 20px 40px 20px;
}


/* FOOTER */

.footer {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.footer-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__detail {
    padding: 70px 0;
}

.footer__title {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.footer__content {
    color: #888888;
    font-size: 14px;
    text-align: center;
}

.footer__social {
    text-align: center;
    margin: 20px;
    position: relative;
}

.footer__social::after {
    content: " ";
    display: block;
    background: #484848;
    width: calc(50% - 110px);
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.footer__social::before {
    content: " ";
    display: block;
    background: #484848;
    width: calc(50% - 110px);
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.footer__copyright {
    background-color: #313131;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #888888;
    font-size: 12px;
    text-align: center;
}


/* TIMELINE */

.timeline {
    position: relative;
    padding-right: 30px;
    margin-top: 40px;
    margin-right: 10px;
    max-width: 70%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: #ECECEC;
    top: 0;
    bottom: 0;
    right: 0;
}


/* Container around content */

.timeline__container {
    /*   padding: 10px; */
    padding-bottom: 30px;
    position: relative;
    background-color: inherit;
}


/* The circles on the timeline */

.timeline__container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -37px;
    background-color: #FFCE1C;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
    border: 4px solid #FFCE1C;
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.timeline__content h5 {
    color: #4D4D4D;
}

.timeline__content p {
    color: #7C7C7C;
    font-size: 15px;
    margin-top: 15px;
}