@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  direction: rtl;
  font-family: 'Vazir';
}

.wrapper {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.wrapper__title {
  font-size: 26px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #464749;
}

.wrapper__subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  color: #464749;
}

.cont {
  max-width: 1200px;
  padding: 1.5em;
  margin: 0 auto;
  overflow: hidden;
}

.header-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("/images/beekeepers.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/beekeepers.jpg");
  background-size: cover;
  height: 92vh;
  overflow: hidden;
  padding: 1.5em 4em 0 0;
  color: #fff;
  /* MENU STYLE */
  /*  HEADER CONTENT STYLE */
  /* SEARCH FORM STYLE */
}

.header-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper nav .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline;
}

.header-wrapper nav .menu .menu__item {
  list-style: none;
  display: inline-block;
  padding: 6px 20px;
}

.header-wrapper nav .menu .menu__item:first-child {
  padding-right: 0;
}

.header-wrapper nav .menu .menu__item::after {
  content: '';
  width: 0;
  height: 2px;
  background: #FFF106;
  display: block;
  margin: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-wrapper nav .menu .menu__item:hover::after {
  width: 100%;
}

.header-wrapper nav .menu .menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.header-wrapper .header-text .header-text__title {
  font-size: 45px;
  margin: 2em 0 .5em 0;
}

.header-wrapper .header-text .header-text__subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: .5em;
}

.header-wrapper .header-text .header-text__desc {
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 55px;
  max-width: 500px;
}

.header-wrapper .header-text .header-text__desc::before {
  content: '';
  height: 70px;
  width: 5px;
  background: yellow;
  float: right;
  margin-left: 15px;
  border-radius: 2px;
}

.header-wrapper .search-form .search-form__input {
  width: 350px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 15px 18px;
  border-radius: 5px;
}

.header-wrapper .search-form .search-form__button {
  width: 110px;
  background: #FFF106;
  color: #414141;
  font: inherit;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 15px 18px;
  border-radius: 5px;
  margin-right: 5px;
}

/* WORK SECTION */
.work-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.work-card__title {
  margin-bottom: 10px;
}

.work-card__desc {
  font-size: 16px;
}

.work-card__number {
  background: #FECF14;
  border-radius: 100%;
  color: #ffffff;
  display: inline-block;
  line-height: 1.6em;
  margin-left: 10px;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

/* COSTUMER SERVICE */
.costumer-service {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -1px -1px 5px 0px #999999;
          box-shadow: -1px -1px 5px 0px #999999;
  border-radius: 10px;
  padding: 20px 0;
}

.costumer-service__item {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
}

.costumer-service__image {
  width: 60px;
  height: 60px;
}

.costumer-service__title {
  color: #464749;
  font-size: 16px;
  font-weight: bold;
}

.costumer-service__desc {
  color: 16px;
  font-size: 14px;
  font-weight: 200;
  margin-top: 5px;
  display: inline-block;
  max-width: 200px;
}

/* ABOUT US */
.about-wrapper {
  color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("/images/beekeepers.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/beekeepers.jpg");
  background-size: cover;
  overflow: hidden;
  text-align: center;
  padding-top: 1.5em;
  margin-top: 5rem;
}

.about-us {
  padding: 4rem 0;
}

.about-us__item {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
  border-right: 1px solid rgba(252, 247, 222, 0.2);
}

.about-us__item:first-child {
  border-right: 0;
}

.about-us__image {
  width: 60px;
  height: 60px;
}

.about-us__title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.about-us__subtilte {
  font-size: 18px;
}

/* OUR SERVICE */
.our-service__item {
  margin: 10px 0px;
  list-style: none;
  display: inline-block;
}

.our-service__card {
  background-color: #eaeafe;
  margin: 10px 0px;
  padding: 15px;
}

.our-service__image {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-service__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.our-service__desc {
  font-size: 14px;
  line-height: 1.2rem;
  color: 16px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  direction: rtl;
  font-family: 'Vazir';
}

.wrapper {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.wrapper__title {
  font-size: 26px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #464749;
}

.wrapper__subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  color: #464749;
}

.cont {
  max-width: 1200px;
  padding: 1.5em;
  margin: 0 auto;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */