@charset "UTF-8";
@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'IRANSans';
  src: url("/fonts/IRANSans-web.eot");
  src: url("IRANSans-web.eot?#iefix") format("eot"), url("/fonts/IRANSans-web.woff2") format("woff2"), url("/fonts/IRANSans-web.woff") format("woff"), url("/fonts/IRANSans-web.ttf") format("ttf");
  font-weight: normal;
}

body {
  background: #ffffff;
  direction: rtl;
  font-family: 'IRANSans';
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

.wrapper__title {
  font-size: 26px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #464749;
}

.wrapper__title-yellow {
  font-size: 24px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #FFF106;
}

.wrapper__title-white {
  font-size: 24px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #fff;
}

.wrapper__subtitle {
  font-size: 30px;
  text-align: center;
  margin: 20px 0 0 0;
  color: #fff;
}

.wrapper__subtitle-code {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 0 0;
  color: #7d7e7f;
}

.cont {
  max-width: 1200px;
  padding: 1.5em;
  margin: 0 auto;
  overflow: hidden;
}

.header-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("/images/beekeepers.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/beekeepers.jpg");
  background-size: cover;
  overflow: hidden;
  padding: 40px 60px 0;
  color: #fff;
  position: relative;
}

/* MENU STYLE */
.top-navbar {
  display: none;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline;
}

.menu__item {
  list-style: none;
  display: inline-block;
  padding: 6px 20px;
}

.menu__item:first-child {
  padding-right: 0;
}

.menu__item::after {
  content: '';
  width: 0;
  height: 2px;
  background: #FFF106;
  display: block;
  margin: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__item:hover::after {
  width: 100%;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/*  HEADER CONTENT STYLE */
.header-text {
  margin-top: 80px;
  margin-bottom: 70px;
}

.header-text__title {
  font-size: 45px;
  margin-bottom: 10px;
  color: #FFF106;
}

.header-text__subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.header-text__desc {
  font-size: 14px;
  line-height: 1.5rem;
  margin-bottom: 40px;
  margin-top: 20px;
  max-width: 530px;
  border-right: 5px solid #FFF106;
  padding-right: 20px;
}

/* SEARCH FORM STYLE */
.search-form {
  padding-bottom: 60px;
}

.search-form__input {
  width: 100%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 15px 18px;
  border-radius: 5px;
}

.search-form__button {
  width: 100%;
  background: #FFF106;
  color: #414141;
  font: inherit;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 15px 18px;
  border-radius: 5px;
  margin: 10px 0;
}

/* VIDEO HEADER STYLE */
.header-video {
  display: none;
}

/* WORK SECTION */
.work-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.work-card:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(97, 97, 97, 0.5);
          box-shadow: 0 6px 10px 0 rgba(97, 97, 97, 0.5);
  border: 0;
}

.work-card__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.work-card__desc {
  font-size: 16px;
  font-size: 16px;
}

.work-card__number {
  background: #FECF14;
  border-radius: 100%;
  color: #ffffff;
  display: inline-block;
  line-height: 1.6em;
  margin-left: 10px;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.work-card__number:hover {
  color: 16px;
}

/* COSTUMER SERVICE */
.costumer-service {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -1px -1px 5px 0px #b6b6b6;
          box-shadow: -1px -1px 5px 0px #b6b6b6;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 20px;
}

.costumer-service__item {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
}

.costumer-service__img {
  width: 75px;
  height: 75px;
}

.costumer-service__title {
  color: #464749;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.costumer-service__desc {
  color: 16px;
  font-size: 14px;
  margin: 10px 0;
  font-weight: bold;
}

/* ABOUT US */
.about-wrapper {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("/images/beekeepers.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/beekeepers.jpg");
  background-size: cover;
  overflow: hidden;
  text-align: center;
  padding-top: 1.5em;
  margin-top: 120px;
}

.about-us {
  padding: 4rem 0;
}

.about-us__item {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
  border-right: 0;
}

.about-us__image {
  width: 60px;
  height: 60px;
}

.about-us__title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.about-us__title span {
  font-size: 18px;
  font-weight: normal;
}

.about-us__subtilte {
  font-size: 18px;
}

/* OUR SERVICE */
srvice-wrapper {
  margin-top: 40px;
}

.our-service__item {
  margin: 10px 0px;
  list-style: none;
  display: inline-block;
}

.our-service__card {
  background-color: #eaeafe;
  padding: 15px;
}

.our-service__image {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-service__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.our-service__desc {
  font-size: 14px;
  line-height: 1.2rem;
  color: 16px;
}

/* BEEKEEPER */
.beekeeper-wrapper {
  margin-top: 70px;
}

.our-beekeeper {
  margin: 40px 0;
}

.beekeeper-card {
  background-color: #fff;
  text-align: left;
  -webkit-box-shadow: -1px -1px 5px 0px #b6b6b6;
          box-shadow: -1px -1px 5px 0px #b6b6b6;
  padding: 12px !important;
  border-radius: 10px !important;
}

.beekeeper-card__image-box {
  position: relative;
  /*   transition: transform 0.3s ease-in-out; */
  margin-top: -32px;
}

.beekeeper-card__image {
  vertical-align: middle;
  max-width: 100%;
  border-radius: 10px !important;
}

.beekeeper-card__name {
  font-size: 16px;
  margin: 15px 0;
  text-align: right;
}

.beekeeper-cardــicon {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #FECF14;
  border-radius: 100%;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 20px;
}

.beekeeper-card__desc {
  font-size: 14px;
  color: 16px;
  text-align: right;
  margin-bottom: 10px;
}

.beekeeper-card__readmore {
  text-decoration: underline;
  padding: 12px;
  display: inline-block;
  color: #1094F3;
  font-weight: bold;
  cursor: pointer;
}

/* CONTACT US */
.contact-us {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 15px 20px;
  color: #fff;
  margin-top: 60px;
  position: relative;
  z-index: 1;
}

.contact-us__title {
  font-size: 35px;
  margin-bottom: 15px;
}

.contact-us__subtitle {
  font-size: 16px;
  padding-bottom: 80px;
}

.icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline;
}

.icon__item {
  list-style: none;
  display: inline-block;
  padding: 10px 0;
  margin-left: 15px;
}

.icon__img {
  width: 35px;
  vertical-align: middle;
}

.icon__img-gray {
  width: 25px;
  vertical-align: middle;
}

.footer__icon {
  position: relative;
  margin: 30px;
}

.footer__icon::before {
  content: " ";
  display: block;
  background: red;
  width: calc(50% - 80px);
  height: 1px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

/* CONTACT-FORM */
.contact-form {
  -webkit-box-shadow: -1px -1px 5px 0px #b6b6b6;
          box-shadow: -1px -1px 5px 0px #b6b6b6;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  z-index: 10;
  background-color: #fff;
  color: 16px;
}

.contact-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 30px;
  border-bottom: 1px solid #C6C6C6;
}

.contact-form__header-text {
  font-size: 14px;
}

.contact-form__header-icon {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin-left: 15px;
}

.contact-form__body {
  padding: 20px;
  padding-bottom: 70px;
}

.contact-form__input {
  margin-top: 30px;
}

.contact-form__input input,
.contact-form__input textarea {
  width: 100%;
  padding: 15px 20px;
  border: none 0;
  background-color: #fafafc;
  border-radius: 5px;
  color: #343333;
  font-size: 14px;
}

.contact-form__submit {
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  border: none 0;
  outline: 0;
  margin-top: 30px;
  background-color: #FFF106;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* BLOG */
.blog {
  margin: 20px 0;
}

.post-card {
  background-color: #fff;
  cursor: pointer;
  text-align: left;
  -webkit-box-shadow: -1px -1px 5px 0px #b6b6b6;
          box-shadow: -1px -1px 5px 0px #b6b6b6;
  border-radius: 10px !important;
}

.post-card__image-box {
  position: relative;
}

.post-card__image {
  vertical-align: middle;
  max-width: 100%;
  border-radius: 10px 10px 0 !important;
}

.post-card__category {
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #FECF14;
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.post-content {
  padding: 15px;
}

.post-content__date {
  font-size: 12px;
  text-align: right;
}

.post-content__desc {
  font-size: 14px;
  color: 16px;
  text-align: right;
  margin: 5px 0;
}

.post-content__readmore {
  text-decoration: none;
  display: inline-block;
  color: #1094F3;
  font-weight: bold;
}

/* CODE */
.code-wrapper {
  background-color: #1e2022;
  text-align: center;
  padding: 10px 20px 40px 20px;
}

/* FOOTER */
.footer {
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.footer__detail {
  margin: 5rem 0;
}

.footer__title {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.footer__content {
  color: #888888;
  font-size: 14px;
  text-align: center;
}

/* TIMELINE */
.timeline {
  position: relative;
  padding-right: 30px;
  margin-top: 40px;
  margin-right: 10px;
  max-width: 70%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #ECECEC;
  top: 0;
  bottom: 0;
  right: 0;
}

/* Container around content */
.timeline__container {
  /*   padding: 10px; */
  padding-bottom: 30px;
  position: relative;
  background-color: inherit;
}

/* The circles on the timeline */
.timeline__container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -37px;
  background-color: #FFCE1C;
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
  border: 4px solid #FFCE1C;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}

.timeline__content h5 {
  color: #4D4D4D;
}

.timeline__content p {
  color: #7C7C7C;
  font-size: 15px;
  margin-top: 15px;
}

.footer--social {
  text-align: center;
  margin: 30px;
  position: relative;
}

.footer--social::after {
  content: " ";
  display: block;
  background: red;
  width: calc(50% - 80px);
  height: 1px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.footer--social::before {
  content: " ";
  display: block;
  background: #484848;
  width: calc(50% - 80px);
  height: 1px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.footer--social img {
  width: 25px;
  margin-left: 7px;
  vertical-align: middle;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'IRANSans';
  src: url("/fonts/IRANSans-web.eot");
  src: url("IRANSans-web.eot?#iefix") format("eot"), url("/fonts/IRANSans-web.woff2") format("woff2"), url("/fonts/IRANSans-web.woff") format("woff"), url("/fonts/IRANSans-web.ttf") format("ttf");
  font-weight: normal;
}

body {
  background: #ffffff;
  direction: rtl;
  font-family: 'IRANSans';
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

.wrapper__title {
  font-size: 26px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #464749;
}

.wrapper__title-yellow {
  font-size: 24px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #FFF106;
}

.wrapper__title-white {
  font-size: 24px;
  text-align: center;
  margin: 10px 0 0 0;
  color: #fff;
}

.wrapper__subtitle {
  font-size: 30px;
  text-align: center;
  margin: 20px 0 0 0;
  color: #fff;
}

.wrapper__subtitle-code {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 0 0;
  color: #7d7e7f;
}

.cont {
  max-width: 1200px;
  padding: 1.5em;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .top-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search-form__input {
    width: 400px;
    font-size: 12px;
    padding: 18px;
  }
  .search-form__button {
    width: 110px;
    font-size: 12px;
    padding: 18px;
  }
  .about-us__item {
    border-right: 1px solid rgba(252, 247, 222, 0.2);
  }
  .about-us__item:first-child {
    border-right: 0;
  }
  .header-video {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header-video__img {
    position: absolute;
    left: -60px;
    bottom: -70px;
  }
  .header-video__icon {
    position: absolute;
    left: 25px;
    bottom: -35px;
  }
  .contact-form {
    top: -156px;
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */